@font-face {
    font-family: 'Arsenal';
    src: url('Arsenal-Bold.eot');
    src: url('Arsenal-Bold.eot?#iefix') format('embedded-opentype'),
        url('Arsenal-Bold.woff2') format('woff2'),
        url('Arsenal-Bold.woff') format('woff'),
        url('Arsenal-Bold.svg#Arsenal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

